.invisible-at-first {
	display: none;
}

.jumbotron {
  margin: 0px auto;
  padding: 70px 30px;
  background: #9575CD;
  color: floralwhite; }
   

.footer {
  background-color: #c0c0c0;
  margin: 0px auto;
  padding: 20px 0px; 
  bottom: 0;
  width: 100%;
  }
